/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Layout */
.wrapper {
    width: 100%;
    height: 100vh;
}

.content {
    /* debug */
    background-color: blue;
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    overflow-y: auto;

}

.play-bar {
    /* debug */
    background-color: red; 
    width: 100%;
    height: 100px;
}

.left-sidebar {
    /* debug */
    background-color: green;
    width: 200px;
    height: 100%;
}

/* .header {
    background-color: blueviolet;
    height: 100px;
    width: calc(100% - 200px);
    position: fixed;
    justify-content: flex-end;
    top: 0;
    left: 200px;
} */

/* .container {
    width: 100%;
    height: 100%;
    background-color: yellow;
    overflow-y: auto;
} */

.container {
    width: 80%;
    margin: 0 auto;
}


/* MAIN */

/* Header */
.header-menu {
    /* debug */
    background-color: aquamarine;
    height: 50px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
}

.header-menu ul {
    display: flex;
    gap: 20px;
}

.header-menu li {
    list-style: none;
}


/* Recently played */

.row {
    
}


.col {
    display: flex;
    gap: 10px;
}


.card {
    height: 300px;
    width: 300px;
    background-color: burlywood;
    border: 2px solid black;
}

/* Left sidebar */

.logo-small {
    display: none;
}

@media screen and (max-width:600px) {
    .logo-big {
        display: none;
    }

    .left-sidebar {
        width: 50px;
    }
 
    .logo-small {
        display: inline;
    }
    
}


