/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */
.pb2 {
    padding-bottom: 2rem;
}

.btn {
    padding: 5px 35px;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 15px;
    color: white;
    border: 1px solid white;
}

/* Layout */
.wrapper {
    width: 100%;
    height: 100vh;
}

.content {
    background-color: #141922;
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    color: white;
}

.play-bar {
    background-color: #282828; 
    width: 100%;
    height: 100px;
    color:white;
}

.left-sidebar {
    background-color: black;
    width: 200px;
    height: 100%;
    color: white;
}

.main {
    height: 100%;
    width: calc(100% - 200px);
    overflow-y: auto;
    padding-top: 100px;
}

.header {
    width: calc(100% - 200px);
    height: 100px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
}

.left-sidebar img {
    width: 150px;
}

.left-sidebar .home {
    width:20px;
}
.left-sidebar .search {
    width:20px;
}

.left-sidebar .library {
    width:20px;
}

.artist {
    text-align: center;
}

.title {
    text-align: center;
}

.container {
    width: 95%;
    margin: 0 auto;
}

/* Left Sidebar  */

.left-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-sidebar-menu {
    margin-top: 20px;
    color: #62656A;
}

.home-section:hover,
.search-section:hover,
.library-section:hover {
    color: white;
    cursor: pointer;
}


.left-sidebar-menu ul {
    list-style-type: none;
}
.logo-small {
    display: none;
}
.playlist {
    margin-top: 20px;
    margin-left: 20px;
}

.playlist ul {
    list-style-type: none;
}

.playlist li {
    margin-bottom: 10px;
}

.create-playlist {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

}

.plus-logo {
    height: 40px;
    width: 40px;
    color: black;
    background-color: #62656A;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    margin-right: 15px;
}

.install {
    margin-left: 20px;
    margin-bottom: 20px;
}

.install-logo {
    display: flex;
    color: #62656A;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 1px;
    background-color:#62656A;
    border: none;
}

.install-logo p {
    margin-left: 10px;
}

.install-logo p:hover {
    cursor: pointer;
    color: white;
}

.user {
    display: flex;
} 
.user p{
    font-size: 0.7rem;
}
.user img {
    height: 20px;
    width: 20px;
    background-color: #62656A;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin-right: 15px;
}

.logo-big {
    margin-bottom: 20px;
}
/* Left sidebar media query*/

@media screen and (max-width:600px) {
    .logo-big {
        display: none;
    }
    .left-sidebar {
        display: flex;
        flex-direction: column;
        width: 50px;
        align-items: center;
        align-content: center;
    }
    .logo-small {
        display: inline;
    }
    .home-text,
    .search-text,
    .library-text,
    .playlist
     {
        display: none;
    }
    .install p,
    .install hr {
        display: none;
    }
    .header {
        width: calc(100% - 50px);
    }
    .main {
        width: calc(100% - 50px);
    }
}

.home-section {
    display: flex;
    border-left: 3px solid green;
    padding-left: 20px;
    margin-bottom: 8px;
}
.home-section img {
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.home-text {
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

.search-section {
    display: flex;
    padding-left: 23px;
    margin-bottom: 8px;
}
.search-section img {
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.search-text {
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

.library-section {
    display: flex;
    padding-left: 23px;
}
.library-section img {
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.library-text {
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

/* MAIN */

/* Header */
.header-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.header-menu ul {
    display: flex;
    gap: 30px;
    color: white;
    text-decoration: none;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
}

.header-menu a {
    list-style: none;
    color: #62656A;
    text-decoration: none;
}

.header-menu a:hover {
    color: white;
    cursor: pointer;
}

.header .btn:hover {
    transform: scale(1.1);
}

.header-menu .title-underline {
    display: inline-block;
    padding-bottom: 3px;
    position: relative;
}

.title-underline::after{
    content: "";
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 25%;
    border-bottom: 3px solid green;
}

/* Recently played */

.album-list {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 6 - 10px);
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}

.card:hover {
    cursor: pointer;
}

.card img:hover {
    opacity: 0.5;
}

.hidden-play {
    font-size: 3rem;
    position: absolute;
    top: 50px;
    left: 70px;
    display: none;
}

.card img:hover+.hidden-play {
    display: block;
}

.artist {
    margin-top: 1rem;
}

.title {
    margin-top: 1rem;
    color: #62656A;
}

@media screen and (max-width:1100px) {
    .card {
        width: calc(100% / 4 - 10px);
    }
    .header-menu {
        display: flex;
        justify-content: center;
        list-style-type: none;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 20px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:700px) {
    .card {
        width: calc(100% / 2 - 10px);
    }
}

/* Playbar */

.play-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-bar-left {
    display: flex;
    margin-left: 10px;
    width: calc(100% / 3);
}

.play-bar-left img {
    width: 60px;
    height: 60px;
}

.listened-song {
    margin-right: 40px;
}

.listened-song-artist {
    margin-left: 10px;
    font-size: 0.8rem;
    margin-top: 10px;
}

.listened-song-name {
    margin-left: 10px;
    font-size: 0.7rem;
    color:#62656A;
}

.listened-song-name:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}


.listened-song-icons {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.fa-regular.fa-heart {
    color:#62656A;
    padding-right: 15px;
}

.fa-regular.fa-folder {
    color:#62656A;
}

.fa-regular.fa-heart:hover {
    color:white;
    cursor: pointer;
}

.fa-regular.fa-folder:hover {
    color: white;
    cursor: pointer;
}

.play-bar-central {
    width: calc(100% / 3);
}

.progress-bar {
    display: flex;
    align-items: center;
}

.meter { 
    height: 5px;
    width: 400px;
    position: relative;
    background: #555;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    margin-left: 20px;
    margin-right: 20px;
}

.meter > span {
    display: block;
    height: 100%;
    background-color: white;   
}  

.meter > span:hover {
    cursor: pointer;
    background-color: greenyellow;   
}  

.blaybar-icons {

    text-align: center;
    padding-bottom: 20px;
}

.blaybar-icons i {
    padding-right: 30px;
}

.fa-solid.fa-circle-play {
    font-size: 2rem;
    vertical-align: middle;
}

.fa-solid.fa-circle-play:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.progress-bar p {
    font-size: 0.8rem;
}

.meter-short { 
    height: 5px;
    width: 200px;
    position: relative;
    background: #555;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    margin-right: 20px;
}

.meter-short > span {
    display: block;
    height: 100%;
    background-color: white;   
}  

.meter-short > span:hover {
    cursor: pointer;
    background-color: greenyellow;   
}  

.play-bar-right {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
    width: calc(100% / 3);
    justify-content: flex-end;
}