/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */

.pb2 {
    padding-bottom: 2rem;
}

.btn {
    padding: 5px 35px;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 15px;
    color: white;
    border: 1px solid white;
}


/* Layout */
.wrapper {
    width: 100%;
    height: 100vh;
}

.content {
    /* debug */
    background-color: #141922;
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    color: white;
}

.play-bar {
    /* debug */
    background-color: #282828; 
    width: 100%;
    height: 100px;
    color:white;
}

.left-sidebar {
    /* debug */
    background-color: black;
    width: 200px;
    height: 100%;
    color: white;
}

.main {
    height: 100%;
    width: calc(100% - 200px);
    overflow-y: auto;
    padding-top: 100px;
}

.header {
    width: calc(100% - 200px);
    height: 100px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
}

.left-sidebar img {
    width: 150px;
}

.left-sidebar .home {
    width:20px;
}
.left-sidebar .search {
    width:20px;
}

.left-sidebar .library {
    width:20px;
}

.artist {
    text-align: center;
}

.title {
    text-align: center;
}

.container {
    width: 95%;
    margin: 0 auto;
}

/* MAIN */

/* Header */
.header-menu {
    /* debug */
    height: 50px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    margin-bottom: 30px;
}

.header-menu ul {
    display: flex;
    gap: 30px;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.header-menu a {
    list-style: none;
    color: #62656A;
    text-decoration: none;
}


/* Recently played */

.album-list {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 6 - 10px);
    margin-right: 10px;
    margin-top: 10px;
}

.artist {
    margin-top: 1rem;
}

.title {
    margin-top: 1rem;
    color: #62656A;
}

@media screen and (max-width:1100px) {
    .card {
        width: calc(100% / 4 - 10px);
    }

}

/* Left sidebar */

.logo-small {
    display: none;
}

@media screen and (max-width:600px) {
    .logo-big {
        display: none;
    }

    .left-sidebar {
        width: 50px;
    }
 
    .logo-small {
        display: inline;
    }
    
}


/* Play-bar */

.play-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-bar-left {
    display: flex;
}

.play-bar-left img {
    width: 30px;
}