/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */

.pb2 {
    padding-bottom: 2rem;
}

.btn {
    padding: 5px 35px;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 15px;
    color: white;
    border: 1px solid white;
}


/* Layout */
.wrapper {
    width: 100%;
    height: 100vh;
}

.content {
    /* debug */
    background-color: #141922;
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    color: white;
}

.play-bar {
    /* debug */
    background-color: #282828; 
    width: 100%;
    height: 100px;
    color:white;
}

.left-sidebar {
    /* debug */
    background-color: black;
    width: 200px;
    height: 100%;
    color: white;
}

.main {
    height: 100%;
    width: calc(100% - 200px);
    overflow-y: auto;
    padding-top: 100px;
}

.header {
    width: calc(100% - 200px);
    height: 100px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
}

.left-sidebar img {
    width: 150px;
}

.left-sidebar .home {
    width:20px;
}
.left-sidebar .search {
    width:20px;
}

.left-sidebar .library {
    width:20px;
}

.artist {
    text-align: center;
}

.title {
    text-align: center;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.playlist {
    margin-top: 20px;
    margin-left: 20px;
}

.playlist ul {
    list-style-type: none;
}

.playlist li {
    margin-bottom: 10px;
}

.create-playlist {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

}

.plus-logo {
    height: 40px;
    width: 40px;
    color: black;
    background-color: #62656A;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    margin-right: 15px;
}

.install {
    margin-left: 20px;
    margin-top: 170px;
}

.install-logo {
    display: flex;
    color: #62656A;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 1px;
    background-color:#62656A;
    border: none;
}

.install-logo p {
    margin-left: 10px;
}

.user {
    display: flex;
} 
.user p{
    font-size: 0.7rem;
}
.user img {
    height: 20px;
    width: 20px;
    background-color: #62656A;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin-right: 15px;
}

.logo-big {
    margin-bottom: 20px;
}

.left-sidebar-menu {
    margin-top: 20px;
    margin-left: 20px;
}

.left-sidebar-menu ul {
    list-style-type: none;
}

.home-section {
    display: flex;
}
.home-section img {
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.home-text {
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

.search-section {
    display: flex;
}
.search-section img {
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.search-text {
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

.library-section {
    display: flex;
}
.library-section img {
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.library-text {
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

/* MAIN */

/* Header */
.header-menu {
    /* debug */
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.header-menu ul {
    display: flex;
    gap: 30px;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.header-menu a {
    list-style: none;
    color: #62656A;
    text-decoration: none;
}


/* Recently played */

.album-list {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 6 - 10px);
    margin-right: 10px;
    margin-top: 10px;
}

.artist {
    margin-top: 1rem;
}

.title {
    margin-top: 1rem;
    color: #62656A;
}

@media screen and (max-width:1100px) {
    .card {
        width: calc(100% / 4 - 10px);
    }
    .header-menu {
        display: flex;
        justify-content: center;
        list-style-type: none;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 20px;
        flex-wrap: wrap;
    }
                                     
}

@media screen and (max-width:700px) {
    .card {
        width: calc(100% / 2 - 10px);
    }

}

/* Left sidebar */

.logo-small {
    display: none;
}

@media screen and (max-width:600px) {
    .logo-big {
        display: none;
    }

    .left-sidebar {
        width: 50px;
    }
 
    .logo-small {
        display: inline;
    }
    
}


/* Play-bar */

.play-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-bar-left {
    display: flex;
    margin-left: 10px;
}

.play-bar-left img {
    width: 60px;
    height: 60px;
}

.listened-song {
    margin-right: 40px;
}

.listened-song-artist {
    margin-left: 10px;
    font-size: 0.8rem;
    margin-top: 10px;
}

.listened-song-name {
    margin-left: 10px;
    font-size: 0.7rem;
    color:#62656A
}

.listened-song-icons {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.fa-regular.fa-heart {
    color:#62656A;
    padding-right: 15px;
}

.fa-regular.fa-folder {
    color:#62656A;
}

.progress-bar {
    display: flex;
    align-items: center;
}

.meter { 
    height: 5px;
    width: 400px;
    position: relative;
    background: #555;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    margin-left: 20px;
    margin-right: 20px;
}

.meter > span {
    display: block;
    height: 100%;
    background-color: white;
      
}  

.play-bar-central {
    
}

.blaybar-icons {

    text-align: center;
    padding-bottom: 20px;
}

.blaybar-icons i {
    padding-right: 30px;
}

.fa-solid.fa-circle-play {
    font-size: 2rem;
    vertical-align: middle;
}

.progress-bar p {
    font-size: 0.8rem;
}